[Unit]
Description=FF Power Manager - Lenovo ToF human-presence sensor (Native Engine)
After=systemd-udev-settle.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ff-presence-sensor
ExecStopPost=-/usr/local/bin/ff-presence-sensor --disable
Restart=always
RestartSec=2
Nice=10

[Install]
WantedBy=multi-user.target
